{{#if showAd}}
	{{#if site.mobileView}}
    <div class="amazon-product-links-label" style={{adTitleStyleMobile}}><a class="ht-ad-sign-in" href="#">{{i18n 'adplugin.advertisement_label'}}</a></div>
		<iframe style={{adWrapperStyleMobile}} marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src={{userInputMobile}}>
		</iframe>
	{{else}}
    <div class="amazon-product-links-label"><a class="ht-ad-sign-in" href="#">{{i18n 'adplugin.advertisement_label'}}</a></div>
		<div class="container" align="center">
			<iframe style={{adWrapperStyle}} marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src={{userInput}}>
			</iframe>
		</div>
	{{/if}}
{{/if}}
