{{#if showAd}}
  <div class="google-adsense-label"><a class="ht-ad-sign-in" href="#">{{i18n 'adplugin.advertisement_label'}}</a></div>
  <div class="google-adsense-content" style={{adWrapperStyle}}>
    <ins class="adsbygoogle"
      style={{adInsStyle}}
      data-ad-client="ca-pub-{{publisher_id}}"
      data-ad-slot={{ad_code}}
      data-ad-format={{autoAdFormat}}>
    </ins>
  </div>
{{/if}}
